<?xml version="1.0" encoding="utf-8" ?>  
<configuration>  
    <startup>   
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />  
    </startup>  
  <appSettings>  
    <add key="DistanceApi" value="http://maps.googleapis.com/maps/api/distancematrix/xml?origins=" />  
    <add key="ApiKey" value="AIzaSyC1edEcN0F2j9--2bmn38-1gkkctFKaTcg" />  
  </appSettings>  
</configuration>   